build/
install/
log/

*.pyc
__pycache__/
.pytest_cache/

.DS_Store
core

# Local YASMIN demo packages
src/yasmin_action_fsm/
src/yasmin_action_interfaces/


src/hockey_controller/parking_plot.png
src/hockey_controller/clf_cbf_log.csv
src/hockey_controller/clf_cbf_plot.png
